@page
@model SEER.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Submit an article</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BibliographicReference.Title" class="control-label"></label>
                <input asp-for="BibliographicReference.Title" class="form-control" />
                <span asp-validation-for="BibliographicReference.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.Author" class="control-label"></label>
                <input asp-for="BibliographicReference.Author" class="form-control" />
                <span asp-validation-for="BibliographicReference.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.Source" class="control-label"></label>
                <input asp-for="BibliographicReference.Source" class="form-control" />
                <span asp-validation-for="BibliographicReference.Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.Year" class="control-label"></label>
                <input asp-for="BibliographicReference.Year" class="form-control" />
                <span asp-validation-for="BibliographicReference.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.DOI" class="control-label"></label>
                <input asp-for="BibliographicReference.DOI" class="form-control" />
                <span asp-validation-for="BibliographicReference.DOI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.SEMethod" class="control-label"></label>
                <input asp-for="BibliographicReference.SEMethod" class="form-control" />
                <span asp-validation-for="BibliographicReference.SEMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.Practice" class="control-label"></label>
                <input asp-for="BibliographicReference.Practice" class="form-control" />
                <span asp-validation-for="BibliographicReference.Practice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.Method" class="control-label"></label>
                <input asp-for="BibliographicReference.Method" class="form-control" />
                <span asp-validation-for="BibliographicReference.Method" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.Participant" class="control-label"></label>
                <input asp-for="BibliographicReference.Participant" class="form-control" />
                <span asp-validation-for="BibliographicReference.Participant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.Result" class="control-label"></label>
                <input asp-for="BibliographicReference.Result" class="form-control" />
                <span asp-validation-for="BibliographicReference.Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
