@page
@model SEER.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BibliographicReference</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BibliographicReference.ID" />
            <div class="form-group">
                <label asp-for="BibliographicReference.Title" class="control-label"></label>
                <input asp-for="BibliographicReference.Title" class="form-control" />
                <span asp-validation-for="BibliographicReference.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.Author" class="control-label"></label>
                <input asp-for="BibliographicReference.Author" class="form-control" />
                <span asp-validation-for="BibliographicReference.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.Source" class="control-label"></label>
                <input asp-for="BibliographicReference.Source" class="form-control" />
                <span asp-validation-for="BibliographicReference.Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.Year" class="control-label"></label>
                <input asp-for="BibliographicReference.Year" class="form-control" />
                <span asp-validation-for="BibliographicReference.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.Volume" class="control-label"></label>
                <input asp-for="BibliographicReference.Volume" class="form-control" />
                <span asp-validation-for="BibliographicReference.Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.Number" class="control-label"></label>
                <input asp-for="BibliographicReference.Number" class="form-control" />
                <span asp-validation-for="BibliographicReference.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.PageNumbers" class="control-label"></label>
                <input asp-for="BibliographicReference.PageNumbers" class="form-control" />
                <span asp-validation-for="BibliographicReference.PageNumbers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BibliographicReference.DOI" class="control-label"></label>
                <input asp-for="BibliographicReference.DOI" class="form-control" />
                <span asp-validation-for="BibliographicReference.DOI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
