@page
@model SEER.AnalystFailureModel
@{
    ViewData["Title"] = "Failure";
}

    <div class="text-center">
        <h1 class="display-4">Article must have all fields filled out before being accepted</h1>
    </div>