@page
@model SEER.FailureModel
@{
    ViewData["Title"] = "Failure";
}

    <div class="text-center">
        <h1 class="display-4">Your article has been automatically rejected by SEER for not meeting quality standards</h1>
    </div>