@page
@model SEER.SuccessModel
@{
    ViewData["Title"] = "Success";
}

    <div class="text-center">
        <h1 class="display-4">Your article has been submitted and will be reviewed shortly</h1>
    </div>